{% extends "preset/default.html"%}
{%block body%}
{% for i in entertainment %}

<picture style="display: flex; justify-content: center; " >
 <img src={{i.image}} alt="No Image" style="max-width:100%; height:auto;">

</picture>

    <div class="container" style="max-width:50vmax;">
        <h2><strong>{{i.headline}}</strong></h2>
        <h6>{{i.channel}}&ensp;&ensp;<i class="fa fa-clock"></i>{{i.time}}</h6>
        <p>{{i.content}}<a href="{{i.link}}">....Read more</a></p>

    </div>
{% endfor %}


{%endblock%}